
.experiences-wraper{
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.card {
  width: 25vw;
  margin: 30px;
}

.card-image {
  width: 100%; 
  height: auto; 
}