<section class="row">
<form (ngSubmit)="signIn(signinForm)" #signinForm="ngForm">
<div class="field offset-m3 col s6">
    <p class="control has-icons-left has-icons-right">
      <input class="input" type="text" placeholder="Username" [(ngModel)]="username" name="username">
      <span class="icon is-small is-left">
        <i class="fas fa-user"></i>
      </span>
    </p>
  </div>
  <br>
  <div class="field offset-m3 col s6">
    <p class="control has-icons-left">
      <input class="input" type="password" placeholder="Password" [(ngModel)]="password" name="password">
      <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>
    </p>
  </div>
  <br>
  <div class="field offset-m3 col s6">
    <p class="control center-align">
      <button type="submit" class="button is-success">
        Login
      </button>
    </p>
  </div>
</form>
<p class="error"> {{ error }} </p>
</section>
