<section class="account-container" *ngIf="profile.user" >
  <div class="page-title" class="center-align">
    <h2>My Control Panel</h2>
  </div>
  <article class="box">
    <div class="welcome-message">
      <p>Hi {{ profile.user.username }} !</p>
      <img [src]="'http://localhost:3000/'+ profile.user.avatar" alt="">
      <p>
      From your My Account on your desktop you have the possibility to view 
      a summary of your recent activity of the account and update your account
      information. Choose one of the following links to view or modify the information.
      </p>
    </div>
    <div class="account-info-container">
      <div class="box-head">
        <h2>Account Information</h2>
        <div class="box-title">
          <h3>Contact Information</h3>
          <!-- <a [routerLink]="['/:id/edit', profile.user._id]">Modify</a> -->
          <div class="box-content">
            {{profile.user.username}}
            <br>
            {{profile.user.email}}
            <br>
            {{profile.user.role}}
          </div>
        </div>
      </div>
    </div>
    <div *ngFor="let experience of profile.experience">
      <p>{{experience.title}}</p>
    </div>
  </article>
  <div *ngIf="profile.user.role === 'ENTERPRISE'">
    <p>Create new Experience: </p>
    <a [routerLink]="['/experience/new']">New Experience</a>
  </div>
</section>
